.advantages-item {
    width: 100%;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--light-gray);

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }    
    }

        @media screen and (max-width: 479px) {
            width: 100%;
        }

        .advantages-item + .advantages-item {
            @media screen and (max-width: 767px) {
                margin-top: 30px;       
            }
        }

        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 450px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            flex-basis: calc(100% / 2 - 30px);
            margin-left: 30px;
            margin-top: 30px;

                            // &:nth-child(2n-1) {
                            //         margin-right: 0;
                            //         border: 2px solid red;
                            //     }

        }

        @media screen and (min-width: 1200px) {
            flex-basis: calc(100% / 4 - 30px);
            margin-left: 30px;
            margin-top: 30px;
        }
}

.advantages-item__icon-wrapper {
    @include flex(row, center, center);

    height: 120px;
    margin-bottom: 30px;

    background: #F5F4FA;
    border: none;
    border-radius: 4px;
}

.advantages-item__icon {
    width: 70px;
    height: 70px;
}

.advantages-item__title {
    @extend .subtitle;

    margin-bottom: 10px;

    text-align: center;

    color: var(--brand-black);

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}