.cards-set {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        margin-top: calc(-1 * 30px);
        margin-left: calc(-1 * 30px / 2);
        margin-right: calc(-1 * 30px / 2);
        align-items: stretch;
    }
}

.our-team-section .cards-set{
    gap: 30px;
}