.header-contacts {    
    &:last-of-type {
        color: var(--light-gray);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        @include flex(column, center, flex-start);
        gap: 10px;
        margin-left: 82px;
        font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 280px;
    }
}

.header-contacts__item:first-of-type {
    @media screen and (min-width: 1200px) {
        margin-right: 30px;
    }
}

.header-contacts__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 14px;
        height: 14px;
        margin-right: 8px;
    }
}