.our-work-item:not(:last-child) {
    margin-right: 30px;
}

.our-work-item__img {
    width: 370px;
    height: 294px;
}

.our-work-item__img-thumb {
    position: relative;
}

.our-work-item__img-caption-over {
    position: absolute;

    bottom: 0;
    padding: 27px;
    width: 100%;

    text-align: center;

    color: var(--white);
    background-color: rgba(47, 48, 58, 0.8);
}

.our-work-item__caption {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}