@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');


:root {
    --brand-black: #212121;
    --brand-blue: #2196F3;
    --dark-blue: #188CE8;
    --dark-gray: #2F303A;
    --light-gray: #757575;
    --icon-gray: #AFB1B8;
    --light-pink: #ECECEC;
    --white: #FFFFFF;
    --transparent-gray: rgba(39, 12, 12, 0.6);
    --one-more-gray: rgba(255, 255, 255, 0.6);
}